<h1>Found gifts</h1>
@foreach (Gift gift in Model)
{
	<div>
		<h2>@gift.Title</h2>
		<p>@gift.Description</p>
		<p>@gift.CreationDate</p>
		<div>
			<label>Boy gift:</label>
			@Html.CheckBox("BoyCheck", gift.BoyGift)

			<label>girl gift:</label>

			@Html.CheckBox("GirlCheck", gift.GirlGift)

		</div>

	</div>
}